autopep8
# for uproot
awkward
boost-histogram
CherryPy
CommonMark
# Cython is needed for compiling HAMMER with python bindings
cython
# Cymove is needed for compiling HAMMER with python bindings
cymove
dgl
eoshep
flake8
file-read-backwards
docutils
h5py
ipython
jira
jupyter
jupytext
keras
lightgbm
lxml
matplotlib
metakernel
mysql-connector-python
nbsphinx
pandas
pycodestyle
pylama
pytest
pytorch-lightning==1.5.6
requests
rise
scikit-learn
scipy
scons
seaborn
sly==0.4
snakemake
sphinx
tables
tabulate
tqdm
tensorflow==2.4.1
tensorflow-probability
# CPU version of pytorch
https://download.pytorch.org/whl/cpu/torch-1.11.0%2Bcpu-cp38-cp38-linux_x86_64.whl \
    --hash=sha256:22997df8f3a3f9faed40ef9e7964d1869cafa0317cc4a5b115bfdf69323e8884
https://download.pytorch.org/whl/cpu/torchvision-0.12.0%2Bcpu-cp38-cp38-linux_x86_64.whl \
    --hash=sha256:f3e382460d0dc8752ab2b97f943da996f3254ee868bc9592259ab55d7e1a5852
https://download.pytorch.org/whl/cpu/torchaudio-0.11.0%2Bcpu-cp38-cp38-linux_x86_64.whl \
    --hash=sha256:ac321c241de43bb258023b461d898c1828f3499ef8232134ef9e448fcf7d576c
Theano
uncertainties
uproot
uproot3
widgetsnbextension
xgboost
# to read zstd compressed files in uproot
zstandard
