autopep8
awkward-pandas
# for uproot
awkward
boost-histogram
CherryPy
click
CommonMark
# Cython is needed for compiling HAMMER with python bindings
cython
# Cymove is needed for compiling HAMMER with python bindings
cymove
dgl
docutils
eoshep
flake8
file-read-backwards
gitpython
h5py
iminuit
ipython
jira
jupyter
jupyter-resource-usage
jupytext
keras
lightgbm
lxml
matplotlib
metakernel
mysql-connector-python
nbsphinx
onnx
onnxruntime
pandas
plothist
pyarrow
pycodestyle
pyhepmc
PyJWT
pylama
PySide6
pytest
python-gitlab
pytorch-ignite
pytorch-lightning
requests
rise
scikit-learn
scipy
scons
seaborn
skl2onnx
selenium
sly==0.4
sphinx
sphinx-argparse
sphinx-book-theme
sphinx-codeautolink
sphinx-togglebutton
sphinxcontrib-programoutput
splinter
sweights
tables
tabulate
tf2onnx
tqdm
tensorflow
tensorflow-probability
# CPU version of pytorch
https://download.pytorch.org/whl/cpu/torch-2.2.2%2Bcpu-cp312-cp312-linux_x86_64.whl \
    --hash=sha256:431a747b5a880cf8e1fb6d58db6bfafa6768cbec76517d046854537c03323edf
https://download.pytorch.org/whl/cpu/torchvision-0.17.2%2Bcpu-cp312-cp312-linux_x86_64.whl \
    --hash=sha256:7746e566d349c84dac35b5c4ec10ad10741b42d9590930a76a48d0107c1902fa
https://download.pytorch.org/whl/cpu/torchaudio-2.2.2%2Bcpu-cp312-cp312-linux_x86_64.whl \
    --hash=sha256:6adffc55d7a42e5dab86c23f1a2287529a073160e5cc241269e467561a7513ee
https://data.pyg.org/whl/torch-2.2.0%2Bcpu/torch_scatter-2.1.2%2Bpt22cpu-cp312-cp312-linux_x86_64.whl \
    --hash=sha256:2963a27ad2ed5f295642d996c1f182c5582c44bae1177e1838446693883b54ac
https://data.pyg.org/whl/torch-2.2.0%2Bcpu/torch_sparse-0.6.18%2Bpt22cpu-cp312-cp312-linux_x86_64.whl \
    --hash=sha256:f5e8e521345786ed787099a4afaa91298e6c95432f2f4804811d370e1253fc84
https://data.pyg.org/whl/torch-2.2.0%2Bcpu/torch_cluster-1.6.3%2Bpt22cpu-cp312-cp312-linux_x86_64.whl \
    --hash=sha256:0323b6ff2d36b5fa477c176f8fc724ce28b988f249752696d8b1707ed15963ba
https://data.pyg.org/whl/torch-2.2.0%2Bcpu/torch_spline_conv-1.2.2%2Bpt22cpu-cp312-cp312-linux_x86_64.whl \
    --hash=sha256:13dd1809080d9149bc063c05920418468cd93e00c21cb61201b1a5c53a38330d
torch-geometric
uncertainties
uproot
uproot3
ipywidgets
# xgboost can be upgraded to 2.x as soon as we have a method for easily upgrading the xgboost-based weightfiles as well
xgboost==1.7.6
# to read zstd compressed files in uproot
zstandard